<body>
  <%= render "shared/header" %>
  <main>
    <div class="to-do">
        <div id="to_do"></div>
    </div>
  </main>

  <meta name="csrf-token" content="<%= form_authenticity_token %>">
  <%= javascript_include_tag 'calendar', crossorigin: 'anonymous' %>
</body>