<footer>
    <ul class="footer-list">
        <li><a href="#">テキスト</a></li>
        <li><a href="#">テキスト</a></li>
        <li><a href="#">テキスト</a></li>
    </ul>
    <div class="copy-light">
        <p>&copy;Chronicle</p>
    </div>
</footer>