/* @import url('https://fonts.googleapis.com/css?family=Sacramento');
@import url('https://fonts.googleapis.com/css?family=Sawarabi+Mincho'); */


body {
    font-family: "Helvetica Neue",
      Arial,
      "Hiragino Kaku Gothic ProN",
      "Hiragino Sans",
      Meiryo,
      sans-serif;
    min-height: 100vh;
}

img {
    max-width: 100%;
}

video {
    max-width: 100%;
}

a {
    text-decoration: none;
    color:black;
}

header {
    width: 100vw;
    height: 100px;
    position: fixed;
    top:0;
    z-index: 1;
    background-color: rgba(71, 71, 71, 0.5);
}

.header-logo {
    font-family: 'Sacramento', cursive;
    font-size:60px;
    margin: 10px 0 0 40px;
    font-weight: bold;
}

.header-logo a {
    color:aliceblue;
}


@media screen and (max-width: 500px) {
.header-logo {
    font-size: 40px;
    margin-left: 20px;
}
}

main {
    width: 100vw;
}

.top-page {
    display: flex;
    position: relative;
}

.main-video {
    width: 100%;
    object-fit: cover;
    opacity: 0.95;
}

.come-back {
    position: absolute;
    top: 180px;
    left: 40px;
    font-size: 60px;
    font-weight: bold;
    font-family: 'Sacramento', cursive;
    color: aliceblue;
}

.top-page .sign-up-form {
    position: absolute;
    top: 130px;
    right: 60px;
    padding: 40px 30px;
}

.sign-up-form {
    background-color: #3f3f3f;
    opacity: 0.9;
    width: 350px;
    height: auto;
    border-radius: 10px;
}

.sign-up-form h2 {
    font-size: 45px;
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-bottom: 10px;
}

.sign-up-form label {
    font-family: 'Sawarabi Mincho', sans-serif;
}


#submit-btn {
    width: 150px;
    height: 40px;
    font-family: 'Sawarabi Mincho', sans-serif;
    margin-top: 20px;
    cursor:pointer;
}

@media screen and (max-width:500px) {
.main-video{
    height: 800px;
}

.sign-up-form{
    width:60%;
}

.top-page .sign-up-form {
    position: absolute;
    top: 150px;
    right: 60px;
    padding: 20px 30px;
}

.top-page .sign-in-form {
    position: absolute;
    top: 280px;
    right: 60px;
    padding: 20px 30px;
}

.come-back {
    font-size: 38px;
    position: absolute;
    top: 150px;
    left: 20px;
}

.sign-up-form h2{
    font-size: 32px;
}

}

footer {
    width: 100vw;
    height: 70px;
    background-color: rgba(71, 71, 71, 0.3);
    opacity: 0.9;
    margin-top: auto;
}

footer .footer-list {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;
    margin-bottom: 10px;
}



footer .copy-light {
    font-size: 10px;
    text-align: center;
}