.top-content {
    text-align: center;
    padding-top: 180px;
}

.top-content h2 {
    font-size: 60px;
    margin-bottom: 30px;
    background: linear-gradient(to bottom right, #FFF9E6, #d0A900);
    -webkit-background-clip: text;
    -moz-background-clip: text;     
    background-clip: text;          
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: 'Sacramento', cursive;
}


.top-content p {
    font-size: 60px;
    margin-bottom: 50px;
    background: linear-gradient(to bottom right, #FFF9E6, #d0A900);
    -webkit-background-clip: text;
    -moz-background-clip: text;     
    background-clip: text;          
    -webkit-text-fill-color: transparent;
    font-weight: 600;
    font-family: 'Sacramento', cursive;
}

.design-image-first {
    width:48%;
    text-align: left;
    margin-top:10px;
    border-radius: 5px;
}

.design-image-second {
    width:65%;
    text-align: right;
    margin-left: 200px;
    border-radius: 5px;
}


@media screen and (max-width:500px) {

.design-image-second {
    margin-left: 50px;
}

.top-content {
    height: 600px;
}

.top-content .times {
    font-size: 28px;
}

.top-content p {
    font-size: 30px;
}
}

.btn-wrapper {
    margin-bottom: 60px;
}

.my-page-btn {
    border: 5px solid #000000;
    border-radius: 10px;
    background-color: aliceblue;
    color: #000000;
    padding: 20px 40px;
    font-size: 42px;
    opacity: 0.9;
}

.first-view, .second-view, .third-view {
    opacity: 0;
    transition: opacity 1s ease-out;
}

.viewing {
    opacity: 1;
}

.first-view{
    background-image: url("../images/bubbles.jpg");
    background-size: cover;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:soft-light;
    height: 600px;
    display: flex;
    padding-top: 80px;
}

.first-image{
    width: 50%;
    margin-top: 80px;
}

.first-logo{
    margin-top: 80px;
    margin-left: 5%;
    width: 48%;
}

.first-logo h2{
    padding-left: 30px;
    width:90%;
    font-size: 48px;
    font-weight: bold;
    color: #d0A900;
    opacity: 0.9;
    background: linear-gradient(transparent 40% , #000000 70%);
}

.second-view{
    background-image: url("../images/drops.jpg");
    background-size: cover;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:soft-light;
    height: 600px;
    display: flex;
}

.second-image{
    width: 40%;
    margin-top: 30px;
    padding-left: 50px;
}

.second-logo{
    margin-top: 80px;
    margin-left: 5%;
    width: 55%;
}

.second-logo h2{
    padding-left: 30px;
    font-size: 48px;
    color: #d0A900;
    opacity: 0.8;
    font-weight: bold;
    background: linear-gradient(transparent 40% , #fffff2 70%);
}

.third-view{
    background-image: url("../images/sunset.jpg");
    background-size: cover;
    background-color:rgba(255,255,255,0.3);
    background-blend-mode:soft-light;
    height: 600px;
    font-size: 88px;
    font-weight: bold;
    text-align: center;
    padding-top: 60px;
}

.third-view h2 {
    font-weight: bold;
    margin-bottom: 20px;
}

.third-view h2 span {
    background: linear-gradient(to bottom right, #FFF9E6, #d0A900);
    -webkit-background-clip: text;
    -moz-background-clip: text;     
    background-clip: text;          
    -webkit-text-fill-color: transparent;
}

.third-view p {
    margin-bottom: 40px;
}

.first-sign-up {
    background: linear-gradient(to bottom right, #FFF9E6, #d0A900);
    border: 5px solid black;
    border-radius: 10px;
    color: #000000;
    padding: 20px 30px;
    opacity: 0.8;
}


@media screen and (max-width:500px) {
.first-logo h2,.second-logo h2 {
    font-size: 4vw;
    padding-left: 15px;
}

.first-view,.second-view,.third-view{
    height:280px;
}

.second-image{
    padding-left: 20px;
    margin-top: 50px;
}

.third-view{
    font-size: 30px;
}
}
