.main-visual {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    height: 1500px;
    position: relative;
}

th {
    border: 1px solid black;
    border-bottom: 5px double black;
}

#calendar table {
    margin-top: 10px;
    position: absolute;
    top: 180px;
    left: 50px;
    width: 90%;
    height: 48%;
    background-color: rgba(204, 204, 153, 0.8);
    border: 4px solid rgb(47, 47, 8);
}

#calendar table thead tr th {
    text-align: center;
    padding-top: 10px;
    font-size: 2vw;
    width: calc(100% / 7);
}


.now-time {
    position: absolute;
    top: 130px;
    left: 70px;
    font-size: 40px;
    color: aliceblue;
    font-family: 'Sacramento', cursive;
}



.close-form {
    z-index: "10";
    position: fixed;
    top: "150px";
    left: "150px";
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

form h3 {
    font-size: 24px;
    margin: 0 auto;
    background: linear-gradient(transparent 70%, #CCCC66 70%);
    width: 220px;
}

.plan-textarea {
    display: inline-block;
    width: 90%;
    height: 150px;
    box-sizing: border-box;
    padding: 10px;
    border-radius: 10px;
    line-height: 1.5em;
    margin: 10px 0 10px 0;
}

.plan-save {
    display: block;
    margin: 0 auto;
    width: 45%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    border: 1px solid black;
    box-shadow: 0 3px #808080;
    letter-spacing: 10px;
    font-size: 18px;
}

.plan-save:active {
    box-shadow: none;
    position: relative;
    top: 3px;
}
