.main-visual {
    background-image: url("../images/background-image.jpg");
    background-size: cover;
    height: 1500px;
    position: relative;
    width:100%;
}

th {
    border: 1px solid black;
    border-bottom: 5px double black;
    background-color: #CCCC66;
}

#calendar table {
    margin-top: 10px;
    position: absolute;
    top: 180px;
    left: 50px;
    width: 90%;
    height: 55%;
    background-color: rgba(204, 204, 153, 0.8);
    border: 4px solid rgb(47, 47, 8);
}

#calendar table thead tr th {
    text-align: center;
    padding-top: 10px;
    font-size: 2vw;
    width: calc(100% / 7);
}


/* コンポーネントへ移動 */


.close-form {
    z-index: "10";
    position: fixed;
    top: "150px";
    left: "150px";
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
}

form h3 {
    font-size: 24px;
    font-family: 'Sacramento', cursive;
    background: linear-gradient(transparent 70%, #CCCC66 70%);
}

/*コンポーネントへ移動5/26*/

.plan-save:active {
    box-shadow: none;
    position: relative;
    top: 3px;
}


@media screen and (max-width:500px) {

.user-page{
    height: 1000px;
}


#calendar table{
    position: absolute;
    top: 180px;
    left: 10px;
    width: 95%;
}

#calendar-data form{
    width: 80%;
    height: 50%;
    position: fixed;
    top: 150px;
    left: 30px;
}

#calendar-data form h3 {
    font-size: 16px;
}

}
